:root {
    --primary: rgb(47, 47, 47);
    --accent: rgb(51, 114, 85);
    --text: rgb(226, 226, 226);
    --shadow: rgba(0, 0, 0, 0.164);
    background: var(--primary);
    color: var(--text);
}

* {
    font-family: "Montserrat", sans-serif;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

th {
    border-bottom: 2px solid var(--text);
}

/* tr:nth-child(even) {
} */

.grid {
    display: grid; 
    grid-template-columns: auto auto;
    gap: 1rem;
}

td, th {
    padding: 0.5rem;
    text-align: left;
}

table {
    border-collapse: collapse;
}

h3 {
    color: var(--text);
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-weight: 700;
}

.page {
    padding: 3rem 5rem;
    margin: 2rem 0 5rem 0;
}

form {
    display: grid;
    margin: 1rem 0;
}

input[type="text"], select, input[type="date"], input[type="number"], input[type="password"] {
    padding: 0.5rem 0.5rem;
    margin: 0 0 1rem 0;
    border: transparent;
    border-bottom: 2px solid var(--accent);
    background-color: transparent;
    color: var(--text);
    outline: none;
}

button, input[type="submit"] {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    outline: none;
    border: none;
    font-weight: 600;
    background-color: var(--accent);
    color: var(--text);
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 3px;
}

button:hover, input[type="submit"]:hover {
    color: var(--accent);
    background-color: var(--primary);
    transition: 0.3s ease-in-out;
    border: 2px solid var(--accent);
    border-radius: 3px;
}

.paper {
    padding: 1rem;
    border: 0px solid transparent;
    background: var(--primary);
    background: linear-gradient(45deg, var(--primary) 0%, rgb(65, 65, 65) 100%);
    box-shadow: 0px 2px 5px var(--shadow);
    border-radius: 5px;
    margin-bottom: 1rem;
    max-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
}

.paper::-webkit-scrollbar {
    display: none;
  }

.accent {
    background-color: var(--accent);
    border: 2px solid transparent;
    color: var(--primary);
}
.accent h3 {
    color: var(--primary);
}

.accent th {
    border-bottom-color: var(--primary);
    color: var(--primary);
}

.accent td {
    color: var(--primary);
}

.nav-container {
    background-color: var(--accent);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    box-shadow: 0px 3px 5px var(--shadow);
    padding: 0.1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav h2, nav h3 {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
    padding: 0 0.5rem;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: var(--accent);
    transition: 0.3s ease-in-out;
}

.months-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.months-list li {
    margin: 0rem 1rem 0rem 0rem;
}