:root {
    --primary: white;
    --accent: rgb(0, 104, 232);
    --text: rgb(158, 158, 158);
    --shadow: rgba(0, 0, 0, 0.164);
    background-color: rgb(255, 255, 255);
}

* {
    font-family: "Montserratt", sans-serif;
}

th {
    border-bottom: 2px solid var(--text);
}

tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
}

td, th {
    padding: 0.5rem
}

table {
    border-collapse: collapse;
}

h3 {
    color: var(--text);
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0 0 1rem 0;
    padding: 0;
}

.page {
    padding: 3rem 5rem;
    margin: 2rem 0 5rem 0;
}

form {
    display: grid;
}

input[type="text"], select, input[type="date"], input[type="number"], input[type="password"] {
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;
    border: transparent;
    border-bottom: 2px solid var(--accent);
    outline: none;
}

button, input[type="submit"] {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-weight: 600;
    background-color: var(--accent);
    color: var(--primary);
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 3px;
}

button:hover, input[type="submit"]:hover {
    color: var(--accent);
    background-color: var(--primary);
    transition: 0.3s ease-in-out;
    border: 2px solid var(--accent);
    border-radius: 3px;
}

.paper {
    padding: 1rem;
    border: 2px solid var(--shadow);
    background-color: var(--primary);
    border-radius: 5px;
    margin-bottom: 1rem;
    max-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
}

.paper::-webkit-scrollbar {
    display: none;
  }

.accent {
    background-color: var(--accent);
    border: 2px solid transparent;
    color: var(--primary);
}
.accent h3 {
    color: var(--primary);
}

.accent th {
    border-bottom-color: var(--primary);
    color: var(--primary);
}

.accent td {
    color: var(--primary);
}

.nav-container {
    background-color: var(--accent);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    box-shadow: 0px 3px 5px var(--shadow);
    padding: 0.1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav h2, nav h3 {
    color: var(--primary);
}

nav a {
    text-decoration: none;
    color: var(--primary);
    padding: 0 1rem;
}

.months-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.months-list li {
    margin: 0rem 1rem 0rem 0rem;
}